{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block metadescription %}
    This is the cart. Where you can store your purchase.
{% endblock %}
{% block title %}
    Cart - IIIT Store
{% endblock %}
{% block content %}
    {% if not cart_items %}
        <div>
            <div class="text-center">
                <br>
                <h1 class="text-center my_title">
                    Your shopping cart is empty.
                </h1>
                <br>
                <p class="text-center">
                    Click <a href="{% url 'store:allProdcat' %}">here</a> to continue shopping.
                </p>
            </div>
        </div>
    {% else %}
        <div>
            <div class="text-center">
                <br>
                <h1 class="text-center my_title">Shopping Cart</h1>
                <br>
            </div>
        </div>
        <div class="row mx-auto">
        <div class="row mx-auto">
            <div class="col-12 col-sm-12 col-md-12 col-lg-6 text-center">
                <table class="table my_custom_table">
                    <thead class="my_custom_thead">
                    <tr>
                        <th colspan="5">
                            Your item
                        </th>
                    </tr>

                    </thead>
                    <tbody>
                    {% for cart_item in cart_items %}
                        <tr>
                            <td>
                                <a href="{{ cart_item.product.get_url }}"><img src="{{ cart_item.product.image.url }}"
                                                                               alt=""
                                                                               class="float-left rounded custom_image"></a>
                            </td>
                            <td class="text-left">
                                {{ cart_item.product.name }}
                                <br>
                                <br>
                                Unit Price: Rs {{ cart_item.product.price }}
                            </td>
                            {% if cart_item.quantity < cart_item.product.stock %}
                                <td>
                                    <a href="{% url 'cart:add_cart' cart_item.product.id %}" class="custom_a">
                                        <i class="fa fa-plus-circle custom_icon"></i></a>&nbsp;&nbsp;
                                    <a href="{% url 'cart:RemoveOne' cart_item.product.id %}" class="custom_a">
                                        <i class="fa fa-minus-circle custom_icon"></i></a>&nbsp;&nbsp;
                                    <a href="{% url 'cart:RemoveAll' cart_item.product.id %}" class="custom_icon">
                                        <i class="fa fa-recycle"></i></a>
                                </td>
                            {% else %}
                                <td>
                                    &nbsp;<a href="{% url 'cart:RemoveOne' cart_item.product.id %}" class="custom_a">
                                    <i class="fa fa-minus-circle custom_icon"></i></a>&nbsp;
                                    <a href="{% url 'cart:RemoveAll' cart_item.product.id %}" class="custom_icon">
                                        <i class="fa fa-recycle"></i></a>
                                </td>
                                <td></td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-12 col-sm-12 col-md-12 col-lg-6 text-center">
            <table class="table my_custom_table">
                <thead class="my_custom_thead">
                <tr>
                    <th>
                        Checkout
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>
                        Check your Product details carefully before proceeding to checkout.
                    </td>
                </tr>
                <tr>
                    <td class="text-left">
                        Total : <strong>Rs {{ total }}</strong>
                    </td>
                </tr>
                </tbody>
            </table>
            <div class="mx-auto">
                <a href="{% url 'store:allProdcat' %}" class="btn btn-secondary btn-block my_custom_button">Continue
                    Shopping</a>
            </div>
            {% block form %}

            {% endblock %}
        </div>


    {% endif %}
</div>
{% endblock %}