{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="{% block metadescription %} {% endblock %}">
    <title>{% block title %} {% endblock %}</title>
</head>
<body>
<!--header-->
<header>
    <center>
        <a href="{% url 'store:allProdcat' %}"><img src="{% static 'img/logo.jpg' %}" alt="Hoodie For Sale"></a>
    </center>
</header>
<!-- nav bar-->


<!-- Footer -->
<div>
    <p>All Rights Reserved.</p>
</div>

</body>
</html>